# 忽略 node_modules
node_modules/

# 忽略编译输出
dist/
build/

# 忽略日志
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略环境变量文件
.env

# 忽略数据库文件
*.db
*.sqlite3

# 忽略 IDE/编辑器配置
.vscode/
.idea/

# 忽略操作系统生成文件
.DS_Store
Thumbs.db

# 忽略本地自定义类型声明缓存
types/

# 忽略临时文件
*.tmp

